aiohttp
aiohttp-retry
aiosignal
attrs
blinker
certifi
charset-normalizer
click
Flask
Flask-SQLAlchemy
frozenlist
idna
itsdangerous
Jinja2
MarkupSafe
multidict
mysql
mysql-connector-python
protobuf
PyJWT
requests
SQLAlchemy
twilio
typing_extensions
urllib3
Werkzeug
yarl
python-dotenv